:root {
  --thumbnail-height: #{$topic_list_thumbnail_height}px;
  --thumbnail-width: #{$topic_list_thumbnail_width}px;
  --thumbnail-height-mobile: #{$topic_list_thumbnail_height_mobile}px;
  --thumbnail-width-mobile: #{$topic_list_thumbnail_width_mobile}px;
  --featured-thumbnail-height: #{$topic_list_featured_height}px;
  --featured-thumbnail-height-mobile: #{$topic_list_featured_height_mobile}px;
}
