.topic-list {
  .has-thumbnail .right {
    margin-left: 0;
  }

  .has-thumbnail .pull-left {
    display: none;
  }

  .has-thumbnail .topic-thumbnail {
    float: left;
  }

  img.non-tiles-thumbnail {
    height: var(--thumbnail-height-mobile);
    width: var(--thumbnail-width-mobile);
  }
}

td .main-link {
  width: 68%;
}

.topic-list:not(.tiles-style) .topic-list-item td {
  padding: 6px;
}

// tiles styling  specific styling
.topic-list.tiles-style .num.posts-map {
  font-size: 12px;
}

.topic-list .topic-excerpt {
  max-height: initial;
  width: 95%;
}

.topic-list.tiles-style .topic-list-data {
  max-width: 100%;
  padding-right: 0.67em;
}

.tlp-featured-topics.has-topics {
  .topics {
    .tlp-featured-topic {
      .featured-details {
        img.thumbnail {
          height: var(--featured-thumbnail-height-mobile);
        }
      }
    }
  }
}
