.tiles-style {
  .topic-list-item:hover {
    filter: invert(10%);
    background-color: var(--blend-primary-secondary-5);
  }

  .topic-list-item:active {
    transform: translateY(+2px);
    transform: translateX(+2px);
    transform: translateX(+2px);
    transform: translateX(+2px);
    box-shadow:
      0 1px 1px 0 rgba(0, 0, 0, 0.16),
      0 0 0 0 rgba(0, 0, 0, 0.12);
  }

  .num.activity a,
  .num .badge-posts {
    padding: 0;
  }
}
